.git
.DS_Store
**/.DS_Store
**/node_modules
release
data
output
frontend
server/admin
server/frontend
server/licenses
server/server/licenses
server/server/logs
server/server/run
server/server/exports
server/server/config/config.local.js
server/server/config/config.prod.js
**/.env
**/.env.*
**/*.license
**/*.log
**/*.sql.gz
**/*backup*.sql
**/*dump*.sql
